* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.container {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slate {
    height: 90%;
    background-color: brown;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0.5em;
    border-radius: 1em;
    width: 70%;
}

.grid-container {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    height: 87%;
    width: 90%;
    border-radius: 1em;
    padding: 2px;
}

.options {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.clear, .color {
    border-radius: 50%;
    padding: 1em;
    background-color: rgb(192, 113, 113);
    border: 2px solid brown;
}

.options > button:hover {
    background-color: white;
    cursor: pointer;
}

.pix {
    background-color: #fff;
    border-radius: 20%;
}

.hidden {
    display: none;
}

.clicked {
    background-color: white;
}